body{
  background: linear-gradient(black ,dodgerblue);
}
nav{
  display: flex;
  justify-items: center;
  height:7vh;
  font-size: 1.5em;
}
a {
  margin-right: 10px;
  color: aliceblue;
  text-decoration: none;
}
a:hover{
  color:dodgerblue;
}
main{

}
#question_area{
  height:90vh ;
}
#Question {
  color: aliceblue;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Hurricane', cursive;
  font-family: 'Roboto', sans-serif;
}
#question_area section {
  margin-top: 10%;
}
img{
  width: 25pc ;
}
ul{
  text-align: center;
  font-size: 30pt;
  list-style-type: none;
}
button{
  text-align: center;
  padding:0.5em 2em;
  text-transform:uppercase;
  box-sizing: border-box;
  font-size: 20px;
}
/* subclasses of buttons  */
#b1:hover{
  background-color:red;
}
#b2:hover{
  background-color:hsl(118, 96%, 50%);
}
#b3:hover{
  background-color:yellow;
}
#b4:hover{
  background-color: blue;
  color:white;
  /* font-size: 20px; */
}
#answer {
  color: aliceblue;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Hurricane', cursive;
  font-family: 'Roboto', sans-serif;
}
